In [1]:
import pandas as pd
import numpy as np

In [22]:
subjects = pd.read_csv('Training_Data/2020LD_subject.tsv',sep='\t')
specimen = pd.read_csv('Training_Data/2020LD_specimen.tsv',sep='\t')

In [36]:
subjects.head()

,subject_id,infancy_vac,biological_sex,ethnicity,race,year_of_birth,date_of_boost,dataset
0,1,wP,Female,Not Hispanic or Latino,White,1986-01-01,2016-09-12,2020_dataset
1,2,wP,Female,Not Hispanic or Latino,White,1968-01-01,2019-01-28,2020_dataset
2,3,wP,Female,Unknown,White,1983-01-01,2016-10-10,2020_dataset
3,4,wP,Male,Not Hispanic or Latino,Asian,1988-01-01,2016-08-29,2020_dataset
4,5,wP,Male,Not Hispanic or Latino,Asian,1991-01-01,2016-08-29,2020_dataset

In [37]:
specimen.head()

,specimen_id,subject_id,actual_day_relative_to_boost,planned_day_relative_to_boost,specimen_type,visit
0,1,1,-3,0,Blood,1
1,2,1,1,1,Blood,2
2,3,1,3,3,Blood,3
3,4,1,7,7,Blood,4
4,5,1,11,14,Blood,5

In [38]:
df = subjects.merge(specimen, on='subject_id')
df = df[['subject_id',
         'specimen_id',
         'infancy_vac',
         'biological_sex',
         'year_of_birth',
         'date_of_boost',
         'actual_day_relative_to_boost',
         'planned_day_relative_to_boost',
         'ethnicity',
         'race',
         'dataset',
         'specimen_type',
         'visit']]
df.head()

,subject_id,specimen_id,infancy_vac,biological_sex,year_of_birth,date_of_boost,actual_day_relative_to_boost,planned_day_relative_to_boost,ethnicity,race,dataset,specimen_type,visit
0,1,1,wP,Female,1986-01-01,2016-09-12,-3,0,Not Hispanic or Latino,White,2020_dataset,Blood,1
1,1,2,wP,Female,1986-01-01,2016-09-12,1,1,Not Hispanic or Latino,White,2020_dataset,Blood,2
2,1,3,wP,Female,1986-01-01,2016-09-12,3,3,Not Hispanic or Latino,White,2020_dataset,Blood,3
3,1,4,wP,Female,1986-01-01,2016-09-12,7,7,Not Hispanic or Latino,White,2020_dataset,Blood,4
4,1,5,wP,Female,1986-01-01,2016-09-12,11,14,Not Hispanic or Latino,White,2020_dataset,Blood,5