In [551]:
import pandas as pd
import numpy as np
import rpy2.robjects as robjects
from rpy2.robjects import pandas2ri
from rpy2.robjects.conversion import localconverter
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy.stats import randint
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeRegressor
import matplotlib.pyplot as plt

In [552]:
readRDS = robjects.r['readRDS']
data = readRDS('Training_Data/master_processed_training_data.RDS')

In [553]:
with localconverter(robjects.default_converter + pandas2ri.converter):
    df = robjects.conversion.rpy2py(data)

In [554]:
data2 = readRDS('Prediction_Data/master_processed_prediction_data.RDS')

In [555]:
with localconverter(robjects.default_converter + pandas2ri.converter):
    pred = robjects.conversion.rpy2py(data2)

In [556]:
titers = df['abtiter_wide']
titers.keys()

('metadata', 'raw_data', 'normalized_data', 'batchCorrected_data')

In [557]:
titers['raw_data'].head()

,specimen_id,IgG_PT,IgG_PRN,IgG_FHA,IgG1_PT,IgG1_PRN,IgG1_FHA,IgG1_TT,IgG1_DT,IgG1_OVA,...,IgG3_FHA,IgG3_TT,IgG3_DT,IgG3_OVA,IgG4_PT,IgG4_PRN,IgG4_FHA,IgG4_TT,IgG4_DT,IgG4_OVA
1,1.0,3.736992,2.602350,34.050956,7.334714,2.174783,3.013252,1.428852,2.389153,0.665203,...,0.624148,1.000000,3.358159,1.865388,1.061706,11.673594,0.880611,3.290050,1.232849,2.622675
2,19.0,1.096366,7.652635,1.096457,1.424098,3.161591,1.287515,1.377390,1.523941,33.771912,...,1.280732,1.000000,0.856594,1.119233,1.000000,0.733287,0.057114,0.024820,0.003253,0.053981
3,27.0,2.046671,5.670403,1.048276,3.888604,2.591155,1.269821,1.675259,2.022924,5.777047,...,6.265944,2.336770,0.856594,1.000000,6.582579,3.261863,1.089128,1.635454,0.634256,2.021985
4,37.0,3.798007,5.268274,0.084437,7.456313,2.760065,2.864834,1.537432,2.250237,4.130732,...,41.809687,2.514246,14.818885,5.446934,44.804003,1.112574,24.353645,0.920018,1.879391,1.569320
5,45.0,0.213328,0.090176,0.379290,0.084132,0.025479,0.654192,0.874920,0.369367,10.452881,...,7.505362,1.000000,0.856594,13.206949,1.000000,0.208993,0.984870,3.565218,0.676574,7.648106

In [558]:
subject = df['subject_specimen']
subject.head()

,specimen_id,subject_id,actual_day_relative_to_boost,planned_day_relative_to_boost,specimen_type,visit,infancy_vac,biological_sex,ethnicity,race,year_of_birth,date_of_boost,dataset,timepoint
1,1.0,1.0,-3.0,0.0,Blood,1.0,wP,Female,Not Hispanic or Latino,White,5844.0,17056.0,2020_dataset,0.0
2,2.0,1.0,1.0,1.0,Blood,2.0,wP,Female,Not Hispanic or Latino,White,5844.0,17056.0,2020_dataset,1.0
3,3.0,1.0,3.0,3.0,Blood,3.0,wP,Female,Not Hispanic or Latino,White,5844.0,17056.0,2020_dataset,3.0
4,4.0,1.0,7.0,7.0,Blood,4.0,wP,Female,Not Hispanic or Latino,White,5844.0,17056.0,2020_dataset,7.0
5,5.0,1.0,11.0,14.0,Blood,5.0,wP,Female,Not Hispanic or Latino,White,5844.0,17056.0,2020_dataset,14.0

In [632]:
ser = subject['year_of_birth']

new = pd.to_timedelta(ser, unit='D') + pd.Timestamp('1970-1-1') 
new.head(5)

1   1986-01-01
2   1986-01-01
3   1986-01-01
4   1986-01-01
5   1986-01-01
Name: year_of_birth, dtype: datetime64[ns]

In [559]:
IgG = subject.merge(titers['raw_data'], on='specimen_id')

In [560]:
IgG.columns

Index(['specimen_id', 'subject_id', 'actual_day_relative_to_boost',
       'planned_day_relative_to_boost', 'specimen_type', 'visit',
       'infancy_vac', 'biological_sex', 'ethnicity', 'race', 'year_of_birth',
       'date_of_boost', 'dataset', 'timepoint', 'IgG_PT', 'IgG_PRN', 'IgG_FHA',
       'IgG1_PT', 'IgG1_PRN', 'IgG1_FHA', 'IgG1_TT', 'IgG1_DT', 'IgG1_OVA',
       'IgG2_PT', 'IgG2_PRN', 'IgG2_FHA', 'IgG2_TT', 'IgG2_DT', 'IgG2_OVA',
       'IgG3_PT', 'IgG3_PRN', 'IgG3_FHA', 'IgG3_TT', 'IgG3_DT', 'IgG3_OVA',
       'IgG4_PT', 'IgG4_PRN', 'IgG4_FHA', 'IgG4_TT', 'IgG4_DT', 'IgG4_OVA'],
      dtype='object')

In [561]:
IgG = IgG[['subject_id',
           'specimen_id',
           'infancy_vac',
           'biological_sex',
           'year_of_birth',
           'date_of_boost',
           'actual_day_relative_to_boost',
           'planned_day_relative_to_boost',
           'ethnicity',
           'race',
           'dataset',
           'specimen_type',
           'visit',
           'IgG_PT',
           'IgG1_PT',
           'IgG2_PT',
           'IgG3_PT',
           'IgG4_PT']]

In [562]:
IgG.head()

,subject_id,specimen_id,infancy_vac,biological_sex,year_of_birth,date_of_boost,actual_day_relative_to_boost,planned_day_relative_to_boost,ethnicity,race,dataset,specimen_type,visit,IgG_PT,IgG1_PT,IgG2_PT,IgG3_PT,IgG4_PT
0,1.0,1.0,wP,Female,5844.0,17056.0,-3.0,0.0,Not Hispanic or Latino,White,2020_dataset,Blood,1.0,3.736992,7.334714,1.000000,1.000000,1.061706
1,1.0,3.0,wP,Female,5844.0,17056.0,3.0,3.0,Not Hispanic or Latino,White,2020_dataset,Blood,3.0,2.255534,8.284477,1.260385,1.000000,1.000000
2,1.0,4.0,wP,Female,5844.0,17056.0,7.0,7.0,Not Hispanic or Latino,White,2020_dataset,Blood,4.0,3.250369,6.557696,1.000000,1.000000,1.415608
3,1.0,5.0,wP,Female,5844.0,17056.0,11.0,14.0,Not Hispanic or Latino,White,2020_dataset,Blood,5.0,10.874112,19.386950,1.080330,1.000000,2.689656
4,1.0,6.0,wP,Female,5844.0,17056.0,32.0,30.0,Not Hispanic or Latino,White,2020_dataset,Blood,6.0,12.513860,24.891105,1.080330,1.251655,2.123412

In [563]:
IgG_d14 = IgG[IgG['planned_day_relative_to_boost'] == 14.0]
IgG_d0 = IgG[IgG['planned_day_relative_to_boost'] == 0.0][['subject_id', 'IgG_PT']]
IgG_d3 = IgG[IgG['planned_day_relative_to_boost'] == 3.0][['subject_id', 'IgG_PT']]
IgG_d7 = IgG[IgG['planned_day_relative_to_boost'] == 7.0][['subject_id', 'IgG_PT']]
IgG_d0 = IgG_d0.rename(columns={'subject_id': 'subject_id', 'IgG_PT': 'IgG_PT_d0'})
IgG_d3 = IgG_d3.rename(columns={'subject_id': 'subject_id', 'IgG_PT': 'IgG_PT_d3'})
IgG_d7 = IgG_d7.rename(columns={'subject_id': 'subject_id', 'IgG_PT': 'IgG_PT_d7'})
IgG_d14 = IgG_d14.merge(IgG_d0, on='subject_id')
#IgG_d14 = IgG_d14.merge(IgG_d3, on='subject_id')
#IgG_d14 = IgG_d14.merge(IgG_d7, on='subject_id')
#IgG_d14_add = IgG_d14.merge(IgG_d3, on='subject_id')
#IgG_d14_add = IgG_d14_add.merge(IgG_d7, on='subject_id')

In [564]:
IgG_d14 = IgG_d14[['infancy_vac', 'biological_sex', 'year_of_birth', 'ethnicity', 'race', 'visit', 'IgG_PT_d0', 'IgG_PT']]

In [565]:
#IgG_d14_add = IgG_d14_add[['infancy_vac', 'biological_sex', 'year_of_birth', 'ethnicity', 'race', 'visit', 'IgG_PT_d0', 'IgG_PT_d3', 'IgG_PT_d7', 'IgG_PT']]

In [566]:
IgG_d14.head()

,infancy_vac,biological_sex,year_of_birth,ethnicity,race,visit,IgG_PT_d0,IgG_PT
0,wP,Female,5844.0,Not Hispanic or Latino,White,5.0,3.736992,10.874112
1,wP,Female,4748.0,Unknown,White,5.0,1.096366,7.041547
2,wP,Male,6574.0,Not Hispanic or Latino,Asian,5.0,2.046671,7.896541
3,wP,Male,7670.0,Not Hispanic or Latino,Asian,5.0,3.798007,5.327203
4,wP,Female,6574.0,Not Hispanic or Latino,White,5.0,0.213328,9.128886

In [567]:
IgG_d14['infancy_vac'] = IgG_d14['infancy_vac'].map({'wP':0, 'aP':1})

In [568]:
IgG_d14['biological_sex'] = IgG_d14['biological_sex'].map({'Female':0, 'Male':1})

In [569]:
IgG_d14['ethnicity'] = IgG_d14['ethnicity'].map({'Not Hispanic or Latino':0, 
                                                   'Hispanic or Latino':1,
                                                   'Unknown':2})

In [570]:
IgG_d14['race'] = IgG_d14['race'].map({'White':0, 
                                       'Asian':1,
                                       'Unknown or Not Reported': 2,
                                       'More Than One Race': 2,
                                       'Black or African American': 3,
                                       'Native Hawaiian or Other Pacific Islander': 4,
                                       'American Indian/Alaska Native':5
                                      })
IgG_d14.head()

,infancy_vac,biological_sex,year_of_birth,ethnicity,race,visit,IgG_PT_d0,IgG_PT
0,0,0,5844.0,0,0,5.0,3.736992,10.874112
1,0,0,4748.0,2,0,5.0,1.096366,7.041547
2,0,1,6574.0,0,1,5.0,2.046671,7.896541
3,0,1,7670.0,0,1,5.0,3.798007,5.327203
4,0,0,6574.0,0,0,5.0,0.213328,9.128886

In [571]:
#IgG_d14 = IgG_d14[['infancy_vac', 'biological_sex', 'year_of_birth', 'ethnicity', 'race', 'visit', 'IgG_PT']

In [572]:
X = IgG_d14.drop('IgG_PT', axis = 1)
y = IgG_d14['IgG_PT']

#X2 = IgG_d14_add.drop('IgG_PT', axis = 1)
#y2 = IgG_d14_add['IgG_PT']

In [573]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [574]:
X_train

,infancy_vac,biological_sex,year_of_birth,ethnicity,race,visit,IgG_PT_d0
45,1,0,9862.0,0,1,5.0,0.421774
81,1,0,10227.0,0,1,5.0,0.234590
16,0,1,8766.0,0,1,5.0,3.478381
18,0,1,4748.0,0,0,5.0,5.842303
88,1,0,10227.0,1,2,5.0,3.917494
...,...,...,...,...,...,...,...
32,1,0,9862.0,1,0,5.0,1.057382
19,0,0,5479.0,0,0,5.0,3.481363
6,1,1,9496.0,0,1,5.0,0.220810
77,0,1,8401.0,0,0,5.0,2.521064
89,1,1,10957.0,1,2,5.0,0.698448

In [587]:
regr_1 = DecisionTreeRegressor(max_depth=2)
regr_2 = DecisionTreeRegressor(max_depth=5)
regr_3 = DecisionTreeRegressor(max_depth=10)
regr_4 = DecisionTreeRegressor(max_depth=20)
regr_1.fit(X_train, y_train)
regr_2.fit(X_train, y_train)
regr_3.fit(X_train, y_train)
regr_4.fit(X, y)

DecisionTreeRegressor(max_depth=20)

In [588]:
y_1 = regr_1.predict(X_test)
y_2 = regr_2.predict(X_test)
y_3 = regr_3.predict(X_test)
y_4 = regr_4.predict(X_test)

In [589]:
y_1

array([8.94645138, 0.93975092, 3.56292614, 3.56292614, 3.56292614,
       3.56292614, 0.93975092, 8.94645138, 8.94645138, 3.56292614,
       3.56292614, 8.94645138, 8.94645138, 8.94645138, 3.56292614,
       8.94645138, 8.94645138, 8.94645138])

In [590]:
y_2

array([ 9.90704116,  1.20842572,  4.52384648,  3.03201553,  3.2761118 ,
        3.2761118 ,  0.20828423, 22.59183883,  8.44171977,  3.2761118 ,
        0.72874345,  6.94036309,  8.44171977,  8.44171977,  3.03201553,
        6.94036309, 16.0170961 , 22.59183883])

In [591]:
y_test

24     2.395891
27     1.798734
85     3.350333
54    19.236953
5      5.051661
22     1.258965
82     1.188004
14     9.205436
31     4.215211
63    18.877606
73     4.492239
11    14.661107
53    12.170811
56     4.092597
50     6.575790
2      7.896541
84     4.323259
13     4.723982
Name: IgG_PT, dtype: float64

In [592]:
regr_1.score(X_train, y_train)

0.43447424089477793

In [593]:
regr_2.score(X_train, y_train)

0.705235631496598

In [594]:
regr_3.score(X_train, y_train)

0.9957056419235994

In [595]:
regr_1.score(X_test, y_test)

-0.22179444765441536

In [324]:
regr_1.score(X_train, y_train)

0.6664012603163737

In [325]:
regr_2.score(X_train, y_train)

0.8783466108183886

In [327]:
regr_3.score(X_train, y_train)

0.999870864505647

In [333]:
regr_1.score(X_test, y_test)

0.6538453270767084

## Predictions

In [596]:
titers_pred = pred['abtiter']
titers_pred = titers_pred['processed_similar_to_training'].T.reset_index().rename(columns={'index':'specimen_id'})
titers_pred['specimen_id'] = titers_pred['specimen_id'].astype(int)

In [597]:
subject_pred = pred['subject_specimen']

In [598]:
subject_pred['specimen_id'] = subject_pred['specimen_id'].astype(int)

In [599]:
IgG = subject_pred.merge(titers_pred, on='specimen_id', how = 'outer')

In [600]:
IgG.columns

Index(['specimen_id', 'subject_id', 'actual_day_relative_to_boost',
       'planned_day_relative_to_boost', 'specimen_type', 'visit',
       'infancy_vac', 'biological_sex', 'ethnicity', 'race', 'year_of_birth',
       'date_of_boost', 'dataset', 'timepoint', 'IgG_FHA', 'IgG_PRN', 'IgG_PT',
       'IgG1_DT', 'IgG1_FHA', 'IgG1_OVA', 'IgG1_PRN', 'IgG1_PT', 'IgG1_TT',
       'IgG2_DT', 'IgG2_FHA', 'IgG2_OVA', 'IgG2_PRN', 'IgG2_PT', 'IgG2_TT',
       'IgG3_DT', 'IgG3_FHA', 'IgG3_OVA', 'IgG3_PRN', 'IgG3_PT', 'IgG3_TT',
       'IgG4_DT', 'IgG4_FHA', 'IgG4_OVA', 'IgG4_PRN', 'IgG4_PT', 'IgG4_TT'],
      dtype='object')

In [601]:
IgG = IgG[['subject_id',
           'specimen_id',
           'infancy_vac',
           'biological_sex',
           'year_of_birth',
           'date_of_boost',
           'actual_day_relative_to_boost',
           'planned_day_relative_to_boost',
           'ethnicity',
           'race',
           'dataset',
           'specimen_type',
           'visit',
           'IgG_PT',
           'IgG1_PT',
           'IgG2_PT',
           'IgG3_PT',
           'IgG4_PT']]

In [602]:
IgG = IgG[IgG['planned_day_relative_to_boost'].isin([0])]# == True

In [603]:
#ids = list(IgG['subject_id'].value_counts().reset_index()['subject_id'])

In [604]:
IgG_d= IgG[['infancy_vac', 'biological_sex', 'year_of_birth', 'ethnicity', 'race', 'visit', 'IgG_PT']].rename(columns={'IgG_PT': 'IgG_PT_d0'})

In [605]:
IgG_d['infancy_vac'] = IgG_d['infancy_vac'].map({'wP':0, 'aP':1})

In [606]:
IgG_d['biological_sex'] = IgG_d['biological_sex'].map({'Female':0, 'Male':1})

In [607]:
IgG_d['ethnicity'] = IgG_d['ethnicity'].map({'Not Hispanic or Latino':0, 
                                                   'Hispanic or Latino':1,
                                                   'Unknown':2})

In [608]:
IgG_d['race'] = IgG_d['race'].map({'White':0, 
                                       'Asian':1,
                                       'Unknown or Not Reported': 2,
                                       'More Than One Race': 2,
                                       'Black or African American': 3,
                                       'Native Hawaiian or Other Pacific Islander': 4,
                                       'American Indian/Alaska Native':5
                                      })
IgG_d.head()

,infancy_vac,biological_sex,year_of_birth,ethnicity,race,visit,IgG_PT_d0
2,0,1,5844.0,0,0,3.0,1.060618
12,0,0,8401.0,0,0,5.0,1.309938
22,1,0,10592.0,1,2,5.0,1.196227
32,1,0,11323.0,0,0,5.0,0.967752
42,1,1,12053.0,0,0,3.0,1.651583

In [611]:
y_1 = regr_1.predict(IgG_d)
y_2 = regr_2.predict(IgG_d)
y_3 = regr_3.predict(IgG_d)
y_4 = regr_4.predict(IgG_d)

In [612]:
y_4

array([10.82360502, 13.73349248,  8.86373049,  4.09259703, 14.8636346 ,
       14.8636346 , 16.29933481,  5.05166119,  7.90473632,  3.42081988,
        2.09827627,  7.90473632,  1.25896521,  2.88217808, 14.66110672,
       14.8636346 ,  0.9488632 ,  9.96874747, 14.8636346 ,  1.44478329,
        4.09259703])

In [621]:
rank = [abs(sorted(y_4).index(x)-19) for x in y_4]
rank

[6, 5, 8, 13, 3, 3, 1, 11, 10, 14, 16, 10, 18, 15, 4, 3, 19, 7, 3, 17, 13]

In [622]:
IgG['1.1) IgG-PT-D14-titer-Rank'] = rank

In [634]:
ser = IgG['year_of_birth']

IgG['year_of_birth'] = pd.to_timedelta(ser, unit='D') + pd.Timestamp('1970-1-1')

In [635]:
IgG[['subject_id', 'year_of_birth', 'biological_sex', 'infancy_vac', '1.1) IgG-PT-D14-titer-Rank']]

,subject_id,year_of_birth,biological_sex,infancy_vac,1.1) IgG-PT-D14-titer-Rank
2,97.0,1986-01-01,Male,wP,6
12,98.0,1993-01-01,Female,wP,5
22,99.0,1999-01-01,Female,aP,8
32,100.0,2001-01-01,Female,aP,13
42,101.0,2003-01-01,Male,aP,3
52,102.0,2003-01-01,Male,aP,3
62,103.0,1994-01-01,Female,wP,1
72,104.0,1989-01-01,Female,wP,11
81,105.0,1994-01-01,Female,wP,10
91,106.0,1996-01-01,Female,aP,14
101,107.0,1998-01-01,Female,aP,16
111,108.0,1995-01-01,Female,wP,10
121,109.0,1989-01-01,Female,wP,18
131,110.0,1997-01-01,Female,aP,15
141,111.0,1996-01-01,Male,wP,4
152,112.0,1996-01-01,Male,aP,3
162,114.0,1990-01-01,Male,wP,19
172,115.0,2002-01-01,Female,aP,7
182,116.0,2000-01-01,Male,aP,3
192,117.0,1994-01-01,Female,aP,17
202,118.0,1998-01-01,Male,aP,13